body{
	margin-top:50px;background: rgb(36, 39, 41);
}

.box {
	position: relative;
	margin: 0 auto;
	padding: 30px;
	max-width: 370px;
	border-radius: 2px;
	background: rgb(255, 255, 255) url("../images/top-bar.png") repeat-x;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.box input[type=text],.get-in-touch input[type=email], .get-in-touch textarea {
	background: rgb(235, 241, 245);
	color: rgb(36, 39, 41);
}

.box  input:focus, .get-in-touch  textarea:focus {
	outline: 0;
	background: #FFF;
}

.powered-by {
	position: absolute;
	bottom: 26px;
	margin: 0 auto;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.66);
	padding: 10px;
	left: 45%;
}
