<html>
<head>
	<title>{{ page.title }} &mdash; {{ site.tagline }}</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/box.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">

					{{ content }}

				</div>
			</div>
		</div>
	</div>
	
	<div class="powered-by">
		Powered by <a href="http://www.versobit.com">VersoBit Ltd</a>
	</div>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
