---
title: Redirecting...
layout: box
noindex: true
tagline: false
---
{% if page.redirect %}
<p class="text-center"><img src="http://helpd.me/assets/images/boat.png" /></p>
<h3 class="text-center">Redirecting...</h3>
<br/>
<p>We've moved this page to a new location. You will be automatically redirected in a few seconds.</p>
<p><a href="{{ page.redirect }}">Click here if you are not redirected &rarr;</a></p>
{% else %}
<p class="text-center"><code>No redirect URL was set.</code></p>
<br />
<a href="https://helpd.me/">&larr; Return home</a>
{% endif %}
